h1 {color: red;}
img {width: 400px;}
#thirdDiv {height: 600px; width: 500px; background-color: blue;}
.spanId {font-size: 18px; margin: 50px;}
.thirdDiv {padding: 50px; border: 5px; border-color: yellow; border-style: dotted;}